In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/nlp_ready.csv")
data

,processed_words,processed_title,ups,ups_normed,dank_level,TextLength,Sentiment,word_count
0,"['sometimesth', 'face', 'go', 'work', 'get', '...","['way', 'sometim']",1.0,0.000001,0.0,118.0,0.58,8.0
1,"['time', 'come', 'barter', 'pandem', 'day', 'r...","['time', 'come', 'barter', 'pandem', 'day']",27.0,0.000036,0.0,93.0,0.29,8.0
2,"['gang', 'derin', 'mlke', 'wey', 'stealin', 's...","['day', 'quarantin']",1.0,0.000001,0.0,114.0,0.43,8.0
3,"['desper', 'time', 'desper', 'hoard', 'toilet'...","['desper', 'time', 'desper', 'solut']",1.0,0.000001,0.0,97.0,0.18,8.0
4,"['desper', 'time', 'desper', 'hoard', 'toilet'...","['desper', 'time', 'desper', 'solut']",1.0,0.000001,0.0,97.0,0.18,8.0
...,...,...,...,...,...,...,...,...
69937,"['stop', 'act', 'like', 'onegover', 'work', 'h...","['stop', 'act', 'like', 'one']",1.0,0.000021,0.0,55.0,0.43,7.0
69938,"['go', 'right', 'choos', 'fighter']","['im', 'go', 'top', 'right']",1.0,0.000021,0.0,62.0,0.49,4.0
69939,"['pound', 'multi', 'million', 'dollar', 'compa...","['sam', 'pound']",1.0,0.000021,0.0,98.0,0.59,8.0
69940,"['second', 'virus', 'kill']","['second', 'one']",1.0,0.000021,0.0,56.0,0.42,3.0
69941,"['onegovern', 'work', 'home', 'grave', 'digger']","['first', 'one']",1.0,0.000021,0.0,54.0,0.42,5.0